
.navbar {
  height: 64px;
  background: var(--dark2-bg);
  border-bottom: 1px solid var(--browser-card-border);
  padding: 0 24px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  background: var(--logo-nav);
  -webkit-background-clip: text;
  color: transparent;
}

.nav-actions {
  display: flex;
  gap: 16px;
  align-items: center;
}

.view-btn {
  background: var(--hero-btn-bg);
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  color: var(--white);
}

.avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}